<div class="container">
  <div class="hero-wrapper">
    <div class="hero">
      <div class="chips">
        <app-chip title="Front-End Developer" [value]="100"></app-chip>
        <app-chip title="Designer" [value]="80"></app-chip>
        <app-chip title="Back-End Developer" [value]="60"></app-chip>
      </div>
      <h1>Talk is cheap.<br />Show me the code</h1>
      <p>I design and code beautifully simple things, and I love what I do.</p>
      <div style="flex: 1;"></div>
      <div class="odometers">
        <div class="odometer">
          <app-odometer [endValue]="3"></app-odometer>
          <span>Years <br> Experience</span>
        </div>
        <div class="odometer">
          <app-odometer [endValue]="15"></app-odometer>
          <i>+</i>
          <span>Projects <br> Completed</span>
        </div>
      </div>

      <span class="hero__elipse">
        <span class="elipse__small elipse__small--green"></span>
        <span class="elipse__small elipse__small--green"></span>
        <span class="elipse__small elipse__small--grey"></span>
        <span class="elipse__small elipse__small--grey"></span>
        <span class="elipse__big__container elipse__big__container--react">
          <img
            src="assets/images/icons/icon-react.png"
            alt="react icon"
            class="elipse__big elipse__big--react"
          />
        </span>
        <span class="elipse__big__container elipse__big__container--javascript">
          <img
            src="assets/images/icons/icon-javascript.png"
            alt="javascript icon"
            class="elipse__big elipse__big--javascript"
          />
        </span>

        <span class="elipse__big__container elipse__big__container--angular">
          <img
            src="assets/images/icons/icon-angular.png"
            alt="angular icon"
            class="elipse__big elipse__big--angular"
          />
        </span>

        <img src="assets/images/profile-photo.png" alt="profile photo" />
      </span>
    </div>
  </div>

  <article class="about">
    <div class="container">
      <ul>
        <li>
          <div class="title-container">
            <h3>Front-End</h3>
            <svg
              width="27"
              height="17"
              viewBox="0 0 27 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.25502 13.5196L0.39502 7.75959L7.29502 2.01959L8.67502 3.59959L3.61502 7.73959L8.67502 11.8796L7.25502 13.5196Z"
                fill="#D5D5D6"
              />
              <path
                d="M17.5272 0.57959L13.2472 16.3196H11.1072L15.3872 0.57959H17.5272Z"
                fill="#D5D5D6"
              />
              <path
                d="M21.3622 1.99959L28.2222 7.75959L21.3222 13.4996L19.9422 11.9196L25.0022 7.77959L19.9422 3.63959L21.3622 1.99959Z"
                fill="#D5D5D6"
              />
            </svg>
          </div>
          <p>I develop front-end with coding super smoth</p>
          <a routerLink="projects"> 20 Projects </a>
        </li>
        <li>
          <div class="title-container">
            <h3>Design</h3>
            <svg
              width="22"
              height="15"
              viewBox="0 0 22 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="2.64398" cy="12.1155" r="2" stroke="#D5D5D6" />
              <circle cx="19.5" cy="12.3043" r="2" stroke="#D5D5D6" />
              <path
                d="M2.3913 2.8537L11.0676 2.8537"
                stroke="#D5D5D6"
                stroke-width="2"
              />
              <path
                d="M11.0676 2.8537L19.7437 2.8537"
                stroke="#D5D5D6"
                stroke-width="2"
              />
              <path
                d="M19.5775 10.2897C19.5775 6.36774 14.849 4.06042 11.0675 4.06042C7.28602 4.06042 2.50288 6.31248 2.50288 10.2897"
                stroke="#D5D5D6"
                stroke-width="2"
              />
              <rect
                x="0.643982"
                y="1.76819"
                width="2.17097"
                height="2.17097"
                stroke="#D5D5D6"
              />
              <rect
                x="19.329"
                y="1.76819"
                width="2.17097"
                height="2.17097"
                stroke="#D5D5D6"
              />
            </svg>
          </div>
          <p>Create digital products with unique ideas</p>
          <a routerLink="projects"> 20 Projects </a>
        </li>
        <li>
          <div class="title-container">
            <h3>SEO</h3>
            <svg
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 8.78036L10 0.719604" stroke="#D5D5D6" />
              <path d="M8.06075 10.7196L3.05176e-05 10.7196" stroke="#D5D5D6" />
              <path d="M11.9393 10.7196L20 10.7196" stroke="#D5D5D6" />
              <path d="M10 20.7196L10 12.6588" stroke="#D5D5D6" />
              <path
                d="M12.9883 10.7195C12.9883 12.3699 11.6504 13.7079 9.99997 13.7079C8.34954 13.7079 7.0116 12.3699 7.0116 10.7195C7.0116 9.06902 8.34954 7.73108 9.99997 7.73108C11.6504 7.73108 12.9883 9.06902 12.9883 10.7195Z"
                stroke="#D5D5D6"
              />
              <path
                d="M16.8547 10.7197C16.8547 14.5055 13.7857 17.5744 9.99998 17.5744C6.21421 17.5744 3.14523 14.5055 3.14523 10.7197C3.14523 6.93386 6.21421 3.86487 9.99998 3.86487C13.7857 3.86487 16.8547 6.93386 16.8547 10.7197Z"
                stroke="#D5D5D6"
                stroke-width="2"
              />
            </svg>
          </div>
          <p>Boost your business with SEO optimize</p>
          <a routerLink="projects"> 20 Projects </a>
        </li>
      </ul>
      <div class="introduction">
        <p>Introduction</p>
        <h1>Hello! I’m Maroš Hajník</h1>
        <h2>Every great design begin with an even better story</h2>
        <p>
          I am a Graduate in Electronics and Telecommunication Engineering
          having 2 years of work experience in IT industry. I have hands-on
          experience in C# Programming Language, Web Development. A Quick
          learner and self motivated person who can grasp things easily and
          eager to learn new skills.
        </p>
      </div>
    </div>
  </article>
</div>
